# Python
__pycache__/
*.py[cod]
*.sqlite3

# Virtual environment
venv/
env/
envf/
.env
# Django stuff
*.log
*.pot
db.sqlite3
/staticfiles/
/media/
ras/media/

# IDE / Editor
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
