<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Rcolocraft-Wall Art & Mural Painting Services in Gurgaon{% endblock %}</title>
  <meta name="description" content="RColorcraft provides professional wall art, mural painting ans custom wall design services in Gurgaon and Delhi . Transform your home and office walls with crative artwork.">
  <meta name="keywords" content="wall art gurgaon, mural painting gurgaon, wall painting services, custom wall art gurgaon">
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/responsive-overrides.css' %}">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
  {% block content %}
  {% endblock %}
 </a>
</body>
</html>
